<!--Email template - course registration invoice -->
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
	<title>Tanteeta.com - Course Registration Invoice</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'/>
</head>

<body width='600px' style='text-align:left;margin:0 auto;padding:0 0 0 0;font-family:verdana;max-width:600px;'>
	<table style='border:0;padding:10px 10px 10px 10px;' cellpadding='0' cellspacing='2px' align='left' width='100%'>
		<tr>
			<td>
				<div style="padding: 10px 15px 20px 15px;background-color: #f2f2f2;height: 70px;">
					<header>
						<img src="logo.png" style="float: left;width: 200px;height: 70px;">
						<p style="float: right;text-align: right;color: red;" align="right">09030001991 <br> talktous@tanteeta.com</p>
					</header>
				</div>
			</td>
		</tr>
		<tr>
			<td style="padding: 0 25px;font-size: 90%;">
				<p>Hello Olaoluwa,</p>
				<p>Thank you for choosing Tanteeta. Hope this is meeting you well?</p>
				<p>An instructor has been assigned to you. The following are the trianing details:</p>
			</td>
		</tr>
	</table>

	<table style='font-size: 90%;border:0;padding:10px 35px;' cellpadding='0' cellspacing='2px' align='left' width='100%'>
		<tr>
			<th style="color: #2987e7;" colspan="3">Instructor's Profile</th>
		</tr>
		<tr>
			<td rowspan="4" style="padding-right: 10px;">
				<img src="logo.png" alt="" style="width: 100px;height: 100px;">
			</td>
			<td style="color: #2987e7;width: 15%;">Name:</td>
			<td>Olaoluwa Balogun</td>
		</tr>
		<tr>
			<td style="color: #2987e7;">Sex:</td>
			<td>Male</td>
		</tr>
		<tr>
			<td style="color: #2987e7;vertical-align: top;">Address:</td>
			<td>hhhhhhhhhhhj jjjhjhwieukf sekjbdfopreuv eyugejbvr ueafubaero vre8ueruvla</td>
		</tr>
	</table>

	<table style='font-size: 90%;border:0;padding:10px 35px;' cellpadding='0' cellspacing='0' align='left' width='100%'>
		<tr>
			<th style="color: #2987e7;" colspan="2">Registration Information</th>		
		</tr>
		<tr>
			<td style="width:60%;border-right: 2px solid #2987e7;padding: 3px 10px;">Course</td>
			<td style="padding: 3px 10px;">Mobile App dev for kids</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 3px 10px;border-right: 2px solid #2987e7;">Course duration</td>
			<td style="border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 3px 10px;">30 hours</td>
		</tr>
		<tr>
			<td style="border-right: 2px solid #2987e7;padding: 3px 10px;">Address</td>
			<td style="padding: 3px 10px;">No 6, so so so</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 3px 10px;border-right: 2px solid #2987e7;vertical-align: top;">Your class schedule</td>
			<td style="border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 3px 10px;">Mon (3pm-5pm), Web (3pm-5pm)</td>
		</tr>
		<tr>
			<td style="border-right: 2px solid #2987e7;padding: 3px 10px;">Total hours oer week</td>
			<td style="padding: 3px 10px;">Mobile App dev for kids</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 3px 10px;border-right: 2px solid #2987e7;">Total number of weeks</td>
			<td style="border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 3px 10px;"></td>
		</tr>
		<tr>
			<td style="border-right: 2px solid #2987e7;padding: 3px 10px;">Tution per hour</td>
			<td style="padding: 3px 10px;">Mobile App dev for kids</td>
		</tr>
		<tr>
			<td style="border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 3px 10px;border-right: 2px solid #2987e7;">Total number of classes per week</td>
			<td style="border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 3px 10px;">Mobile App dev for kids</td>
		</tr>
		<tr>
			<td style="padding: 3px 10px;border-right: 2px solid #2987e7;">Instructor's transportation per class</td>
			<td style="padding: 3px 10px;">Mobile App dev for kids</td>
		</tr>
	</table>

	<table style='font-size: 90%;border:0;padding:10px 35px;' cellpadding='1px' cellspacing='0' align='left' width='100%'>
		<tr>
			<th style="color: #2987e7;" colspan="2">Training Fee</th>		
		</tr>
		<tr>
			<th style="" colspan="2">Month 1 (4 weeks)</th>		
		</tr>
		<tr style="">
			<td style="width: 60%;border-right: 2px solid #2987e7;padding: 3px 10px;">Tuition</td>
			<td style="text-align: right;padding: 0 10px;">Mobile App dev for kids</td>
		</tr>
		<tr>
			<td style="border-right: 2px solid #2987e7;border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 3px 10px;">Instructor's cost of transportation</td>
			<td style="text-align: right;border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 0 10px;">30 hours</td>
		</tr>
		<tr>
			<td style="text-align: right;border-right: 2px solid #2987e7;padding-right: 20px;"><b>Total</b></td>
			<td style="text-align: right;padding: 3px 10px;"><b>30 hours</b></td>
		</tr>
		<tr><td>&nbsp;</td></tr>

		<tr>
			<th style="" colspan="2">Month 2 (4 weeks)</th>		
		</tr>
		<tr style="">
			<td style="width: 60%;border-right: 2px solid #2987e7;padding: 3px 10px;">Tuition</td>
			<td style="text-align: right;padding: 0 10px;">Mobile App dev for kids</td>
		</tr>
		<tr>
			<td style="border-right: 2px solid #2987e7;border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 3px 10px;">Instructor's cost of transportation</td>
			<td style="text-align: right;border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 0 10px;">30 hours</td>
		</tr>
		<tr>
			<td style="text-align: right;border-right: 2px solid #2987e7;padding-right: 20px;"><b>Total</b></td>
			<td style="text-align: right;padding: 3px 10px;"><b>30 hours</b></td>
		</tr>
		<tr><td>&nbsp;</td></tr>

		<tr>
			<th style="" colspan="2">Month 3 (1 week)</th>		
		</tr>
		<tr style="">
			<td style="width: 60%;border-right: 2px solid #2987e7;padding: 3px 10px;">Tuition</td>
			<td style="text-align: right;padding: 0 10px;">Mobile App dev for kids</td>
		</tr>
		<tr>
			<td style="border-right: 2px solid #2987e7;border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 3px 10px;">Instructor's cost of transportation</td>
			<td style="text-align: right;border-bottom: 2px solid #2987e7;border-top: 2px solid #2987e7;padding: 0 10px;">30 hours</td>
		</tr>
		<tr>
			<td style="text-align: right;border-right: 2px solid #2987e7;padding-right: 20px;"><b>Total</b></td>
			<td style="text-align: right;padding: 3px 10px;"><b>30 hours</b></td>
		</tr>
		<tr><td>&nbsp;</td></tr>

		
	</table>

	<table style='font-size: 90%;border:0;padding:10px 35px;' cellpadding='0' cellspacing='2px' align='left' width='100%'>
		<tr>
			<th style="color: #2987e7;" colspan="2">Payment Options</th>		
		</tr>
		<tr>
			<th style="" colspan="2"><b>Please note that we recommend that you pay on a monthly basis.</b></th>		
		</tr>
		<tr>
			<td>
				<p><b>Bank Deposit/Transfer:<br></b>You may pay cash or transfer funds directly into our bank account using details stated below:</p>

				<table cellpadding='0' cellspacing='2px' align='left' width='80%' style="margin-left: 50px;color: #777777;">
					<tr>
						<td>Account Name:</td>
						<td>Tanteeta Nigeria</td>
					</tr>
					<tr>
						<td>Account Number:</td>
						<td>00000000000000</td>
					</tr>
					<tr>
						<td>Bank:</td>
						<td>Gtbank</td>
					</tr>					
				</table>				
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td>
				<p>While making your payment, kindly state the depositor's name as the name used during the course registration including the payment invoice number in parenthsis.<br>Example: <i style="color: #777;">Depositor's name:<span style="text-decoration: underline;"> Tanteeta (#22222) </span></i>
				</p>	
			</td>
		</tr>
		<tr>
			<td>
				<p>Once payment has been made, please, send us an email at payment@tanteeta.com providing the following details:</p>
				<p style="padding-left: 50px;color: #777777;">1. Name of depositor</p>
				<p style="padding-left: 50px;color: #777777;">2. Slip/teller number</p>
				<p style="padding-left: 50px;color: #777777;">3. Date of payment</p>
				<p style="padding-left: 50px;color: #777777;">4. Amount paid</p>
				<p style="padding-left: 50px;color: #777777;">5. The date you want the class to start.</p>				
			</td>
		</tr>
		<tr>
			<td>
				<p><b>Online payment:<br></b>Please click the botton below to make your payment online</p>
			</td>
		</tr>
		<tr>
			<td>
				<p><a href="#"><button type="button" style="background-color: #2987e7;padding: 5px 45px;border: none;color: #ffffff;font-size: 20px;cursor: pointer;">Pay Now</button></a></p>
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<td style="padding: 0 25px;background-color: #f2f2f2; color: #777;">
				<p>Once your payment has been confirmed, you will receive a payment confirmation email and the class will commence on the date you specified.</p>
			</td>
		</tr>
	</table>

	<table style='border:0;padding:10px 35px;' cellpadding='0' cellspacing='2px' align='left' width='100%'>
		<tr align="center">
			<td colspan="6">Sent with Love from us at Tanteeta</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr align="center" style="font-size: 15px;text-align: center;">
			<td><a href="" style="text-decoration: none;">Tanteeta blog</a></td>
			<td><a href="" style="text-decoration: none;">facebook</a></td>
			<td><a href="" style="text-decoration: none;">twitter</a></td>
			<td><a href="" style="text-decoration: none;">instagram</a></td>
			<td><a href="" style="text-decoration: none;">google+</a></td>
			<td><a href="" style="text-decoration: none;">youtube</a></td>
		</tr>
	</table>
</body>
</html>

