<!--Email template - course registration confirmation -->
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
	<title>Tanteeta.com - Course Registration</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'/>
</head>

<body width='600px' style='margin:0 auto;padding:0 0 0 0;font-family:verdana;max-width:600px;'>
	<table style='border:0;padding:10px 10px 10px 10px;' cellpadding='0' cellspacing='2px' align='left' width='100%'>
		<tr>
			<td>
				<div style='padding: 10px 15px 20px 15px;background-color: #f2f2f2;height: 70px;'>
					<header>
						<img src='logo.png' style='float: left;width: 200px;height: 70px;'>
						<p style='float: right;text-align: right;color: red;' align='right'>09030001991 <br> talktous@tanteeta.com</p>
					</header>
				</div>
			</td>
		</tr>
		<tr>
			<td style='padding: 0 25px;'>
				<p>Hello Olaoluwa,</p>
				<p>Thank you for choosing Tanteeta. Hope this is meeting you well?</p>
				<p>Your registration for <span style='color: #2987e7;'>Android app development for kids</span> was successful and your registration fee of <span style='color: #2987e7;'>N3,000</span> has been confirmed. An instructor will be assigned to you within 7 days.</p>
				<p>The tuition fee for <span style='color: #2987e7;'>Android app development for kids</span> is <span style='color: #2987e7;'>N40,000</span> per month. This fee excludes the instructor's cost of transportation to your home. Once an instructor has benn assigned to you, you will recieve an invoice containing the overall cost of the training, which includes tuition fee and instructor's cost of transportation.</p>
			</td>
		</tr>
	</table>
	<table style='border:0;padding:10px 10px 10px 10px;' cellpadding='0' cellspacing='2px' align='left' width='100%'>
	<tr>
		<td style='padding: 0 25px;background-color: #f2f2f2;color: #777;'>
			<p> At Tanteeta, we believe the best economic plan we can have for the future is to start preparing a generation of creators and innovators, if we want to have a flourishing economy in the future. We are working with parents and schools to make this happen and we are happy you have chosen to be a part of this.</p>
			<p>Please, feel free to contact us (09030001991) if you have any suggestions on how we can do this in a better way.</p>
		</td>
	</tr>
	</table>
	<table style='border:0;padding:10px 10px 10px 10px;' cellpadding='0' cellspacing='2px' align='left' width='100%'>
		<tr align='center'>
			<td colspan='6'>Sent with Love from us at Tanteeta</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr align='center' style='font-size: 15px;text-align: center;'>
			<td><a href='' style='text-decoration: none;'>Tanteeta blog</a></td>
			<td><a href='' style='text-decoration: none;'>facebook</a></td>
			<td><a href='' style='text-decoration: none;'>twitter</a></td>
			<td><a href='' style='text-decoration: none;'>instagram</a></td>
			<td><a href='' style='text-decoration: none;'>google+</a></td>
			<td><a href='' style='text-decoration: none;'>youtube</a></td>
		</tr>
	</table>
</body>
</html>

